<a href="https://colab.research.google.com/github/antoinevangorp/DatabasManagementPractice_IBT3205/blob/main/lab_week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the sqlite3 library for SQLite database operations
import sqlite3

# Function to connect to SQLite database
def connect_to_db(db_name):
    try:

        # Connect to SQLite database
        conn = sqlite3.connect(db_name)
        print(f"Connected to {db_name} successfully.")
        return conn

    except sqlite3.Error as e:
        print(f"Error occurred: {e}")
        return None



# Function to create tables
def create_tables(conn):
    try:
        # Create a cursor object
        cursor = conn.cursor()

        # SQL queries to create tables
        # Existing tables: Companies, Branches, Courses, Students
        # New tables: Enrollment, Logging, Teacher, Department

        # Companies Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Companies (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            headquarters TEXT
        );
        """)

        # Branches Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Branches (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            company_id INTEGER,
            location TEXT NOT NULL,
            FOREIGN KEY (company_id) REFERENCES Companies (id)
        );
        """)

        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Courses (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            branch_id INTEGER,
            name TEXT NOT NULL,
            duration INTEGER,
            FOREIGN KEY (branch_id) REFERENCES Branches (id)
        );
        """)

        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Students (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            course_id INTEGER,
            name TEXT NOT NULL,
            age INTEGER,
            FOREIGN KEY (course_id) REFERENCES Courses (id)
        );
        """)

        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Enrollment (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            student_id INTEGER,
            course_id INTEGER,
            enrollment_date TEXT,
            FOREIGN KEY (student_id) REFERENCES Students (id),
            FOREIGN KEY (course_id) REFERENCES Courses (id)
        );
        """)

        # Logging Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Logging (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          activity TEXT NOT NULL,
          timestamp TEXT NOT NULL
        );
          """)

        # Teacher Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Teacher (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          branch_id INTEGER, name TEXT NOT NULL,
          subject TEXT,
          FOREIGN KEY (branch_id) REFERENCES Branches (id)
        );
        """)

        # Department Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Department (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          branch_id INTEGER,
          name TEXT NOT NULL,
          FOREIGN KEY (branch_id) REFERENCES Branches (id)
        );
        """)

        conn.commit()
        print("Tables created successfully.")

    except sqlite3.Error as e:
        # Rollback the transaction in case of an error
        conn.rollback()
        print(f"Error occurred: {e}")

# Function to list all tables in the SQLite database
def list_tables(conn):
    try:
        # create a cursor object
        cursor = conn.cursor()

        # SQL query to fetch all tables
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

        # Fetch all table names
        tables = cursor.fetchall()

        # Display table names
        for table in tables:
            print(f"Table: {table[0]}")

    except sqlite3.Error as e:
        print(f"Error occurred: {e}")

# Main function

if __name__ == "__main__":
    # Connect to SQLite database
    conn = connect_to_db("education_company.db")

    if conn:
        # Create tables
        create_tables(conn)

        # List all tables in the database
        print("Listing all tables in the database:")
        list_tables(conn)

        # Close the database connection
        conn.close()

Connected to education_company.db successfully.
Tables created successfully.
Listing all tables in the database:
Table: Companies
Table: sqlite_sequence
Table: Branches
Table: Courses
Table: Students
Table: Enrollment
Table: Logging
Table: Teacher
Table: Department