<a href="https://colab.research.google.com/github/antoinevangorp/DatabasManagementPractice_IBT3205/blob/main/week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# import sqlite3

# # Connect to the SQLite database (or create a new one if it doesn't exist)
# conn = sqlite3.connect('my_database.db')
# cur = conn.cursor()

# # Create the "DEPARTEMENT" table with constraints
# cur.execute('''
# CREATE TABLE "DEPARTEMENT"(
#   dnumber integer NOT NULL,
#   dname integer,
#   mgrssn integer NOT NULL,
#   CONSTRAINT "DEPARTEMENT_pkey" PRIMARY KEY(dnumber)
# );
# ''')

# # Create the "DEPARTMENT_LOCATIONS" table with constraints
# cur.execute('''
# CREATE TABLE "DEPARTMENT_LOCATIONS"(
#   dnumber integer NOT NULL,
#   "LOCATIONS_dlocation" integer NOT NULL,
#   FOREIGN KEY (dnumber) REFERENCES "DEPARTEMENT" (dnumber),
#   FOREIGN KEY ("LOCATIONS_dlocation") REFERENCES "LOCATIONS" (dlocation)
# );
# ''')

# # Create the "DEPENDENT" table with constraints
# cur.execute('''
# CREATE TABLE "DEPENDENT"(
#   dependentname text NOT NULL,
#   essn integer NOT NULL,
#   sex char,
#   bdate timestamp,
#   relationship text,
#   CONSTRAINT "DEPENDENT_pkey" PRIMARY KEY(dependentname),
#   FOREIGN KEY (essn) REFERENCES "EMPLOYEE" (ssn)
# );
# ''')

# # Create the "EMPLOYEE" table with constraints
# cur.execute('''
# CREATE TABLE "EMPLOYEE"(
#   ssn integer NOT NULL,
#   "superssn (FK)" integer,
#   fname text,
#   minit integer,
#   lname text,
#   address text,
#   bdate timestamp,
#   salary float,
#   sex char(1),
#   dno integer NOT NULL,
#   CONSTRAINT "EMPLOYEE_pkey" PRIMARY KEY(ssn),
#   CONSTRAINT "EMPLOYEE_superssn (FK)_fkey" FOREIGN KEY ("superssn (FK)") REFERENCES "DEPARTEMENT" (dnumber),
#   CONSTRAINT ssn_fkey FOREIGN KEY (dno) REFERENCES "EMPLOYEE" (ssn)
# );
# ''')

# # Create the "EMPLOYEE_PROJECT" table with constraints
# cur.execute('''
# CREATE TABLE "EMPLOYEE_PROJECT"(
#   ssn integer NOT NULL,
#   "PROJECT_pnumber" integer NOT NULL,
#   hours integer,
#   FOREIGN KEY (ssn) REFERENCES "EMPLOYEE" (ssn),
#   FOREIGN KEY ("PROJECT_pnumber") REFERENCES "PROJECT" (pnumber)
# );
# ''')

# # Create the "LOCATIONS" table with constraints
# cur.execute('''
# CREATE TABLE "LOCATIONS"(
#   dlocation integer NOT NULL,
#   CONSTRAINT "LOCATIONS_pkey" PRIMARY KEY(dlocation)
# );
# ''')

# # Create the "PROJECT" table with constraints
# cur.execute('''
# CREATE TABLE "PROJECT"(
#   pnumber integer NOT NULL,
#   pname text,
#   plocation text,
#   dnum integer NOT NULL,
#   CONSTRAINT "PROJECT_pkey" PRIMARY KEY(pnumber),
#   FOREIGN KEY (dnum) REFERENCES "DEPARTEMENT" (dnumber)
# );
# ''')

# # Commit the changes
# conn.commit()

# # Insert data into the tables (as shown in the previous response)
# cur.execute('''
# INSERT INTO "DEPARTEMENT" (dnumber, dname, mgrssn)
# VALUES (1, 101, 123456789),
#        (2, 102, 987654321);
# ''')

# cur.execute('''
# INSERT INTO "DEPARTMENT_LOCATIONS" (dnumber, "LOCATIONS_dlocation")
# VALUES (1, 1),
#        (2, 2);
# ''')

# cur.execute('''
# INSERT INTO "DEPENDENT" (dependentname, essn, sex, bdate, relationship)
# VALUES ('John Doe', 123456789, 'M', '1990-01-15', 'Child'),
#        ('Jane Doe', 987654321, 'F', '1992-05-20', 'Spouse');
# ''')

# cur.execute('''
# INSERT INTO "EMPLOYEE" (ssn, "superssn (FK)", fname, minit, lname, address, bdate, salary, sex, dno)
# VALUES (123456789, NULL, 'Alice',  'M', 'Smith', '123 Main St', '1980-03-10', 50000.00, 'F', 1),
#        (987654321, 123456789, 'Bob',  'A', 'Johnson', '456 Oak St', '1975-12-05', 60000.00, 'M', 2);
# ''')

# cur.execute('''
# INSERT INTO "EMPLOYEE_PROJECT" (ssn, "PROJECT_pnumber", hours)
# VALUES (123456789, 101, 40),
#        (987654321, 102, 35);
# ''')

# cur.execute('''
# INSERT INTO "LOCATIONS" (dlocation)
# VALUES (1),
#        (2);
# ''')

# cur.execute('''
# INSERT INTO "PROJECT" (pnumber, pname, plocation, dnum)
# VALUES (101, 'Project A', 'Location X', 1),
#        (102, 'Project B', 'Location Y', 2);
# ''')

# # Commit the data changes
# conn.commit()

# print("Contents of the 'DEPARTEMENT' table:")
# cur.execute("SELECT * FROM 'DEPARTEMENT'")
# print(cur.fetchall())

# print("\nContents of the 'DEPARTMENT_LOCATIONS' table:")
# cur.execute("SELECT * FROM 'DEPARTMENT_LOCATIONS'")
# print(cur.fetchall())

# print("\nContents of the 'DEPENDENT' table:")
# cur.execute("SELECT * FROM 'DEPENDENT'")
# print(cur.fetchall())

# print("\nContents of the 'EMPLOYEE' table:")
# cur.execute("SELECT * FROM 'EMPLOYEE'")
# print(cur.fetchall())

# print("\nContents of the 'EMPLOYEE_PROJECT' table:")
# cur.execute("SELECT * FROM 'EMPLOYEE_PROJECT'")
# print(cur.fetchall())

# print("\nContents of the 'LOCATIONS' table:")
# cur.execute("SELECT * FROM 'LOCATIONS'")
# print(cur.fetchall())

# print("\nContents of the 'PROJECT' table:")
# cur.execute("SELECT * FROM 'PROJECT'")
# print(cur.fetchall())

# # Close the cursor and connection
# cur.close()
# conn.close()

In [9]:
# Importing the sqlite3 library
import sqlite3

# Step 1: Connect to SQLite Database
conn = sqlite3.connect('company_database.db')
cur = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [10]:
# Create the "DEPARTEMENT" table with constraints
cur.execute('''
CREATE TABLE "DEPARTEMENT"(
  dnumber integer NOT NULL,
  dname integer,
  mgrssn integer NOT NULL,
  CONSTRAINT "DEPARTEMENT_pkey" PRIMARY KEY(dnumber)
);
''')

In [11]:
# Create the "DEPARTMENT_LOCATIONS" table with constraints
cur.execute('''
CREATE TABLE "DEPARTMENT_LOCATIONS"(
  dnumber integer NOT NULL,
  "LOCATIONS_dlocation" integer NOT NULL,
  FOREIGN KEY (dnumber) REFERENCES "DEPARTEMENT" (dnumber),
  FOREIGN KEY ("LOCATIONS_dlocation") REFERENCES "LOCATIONS" (dlocation)
);
''')

In [12]:
# Create the "DEPENDENT" table with constraints
cur.execute('''
CREATE TABLE "DEPENDENT"(
  dependentname text NOT NULL,
  essn integer NOT NULL,
  sex char,
  bdate timestamp,
  relationship text,
  CONSTRAINT "DEPENDENT_pkey" PRIMARY KEY(dependentname),
  FOREIGN KEY (essn) REFERENCES "EMPLOYEE" (ssn)
);
''')

In [13]:
# Create the "EMPLOYEE" table with constraints
cur.execute('''
CREATE TABLE "EMPLOYEE"(
  ssn integer NOT NULL,
  "superssn (FK)" integer,
  fname text,
  minit integer,
  lname text,
  address text,
  bdate timestamp,
  salary float,
  sex char(1),
  dno integer NOT NULL,
  CONSTRAINT "EMPLOYEE_pkey" PRIMARY KEY(ssn),
  CONSTRAINT "EMPLOYEE_superssn (FK)_fkey" FOREIGN KEY ("superssn (FK)") REFERENCES "DEPARTEMENT" (dnumber),
  CONSTRAINT ssn_fkey FOREIGN KEY (dno) REFERENCES "EMPLOYEE" (ssn)
);
''')

In [14]:
# Create the "EMPLOYEE_PROJECT" table with constraints
cur.execute('''
CREATE TABLE "EMPLOYEE_PROJECT"(
  ssn integer NOT NULL,
  "PROJECT_pnumber" integer NOT NULL,
  hours integer,
  FOREIGN KEY (ssn) REFERENCES "EMPLOYEE" (ssn),
  FOREIGN KEY ("PROJECT_pnumber") REFERENCES "PROJECT" (pnumber)
);
''')

In [15]:
# Create the "LOCATIONS" table with constraints
cur.execute('''
CREATE TABLE "LOCATIONS"(
  dlocation integer NOT NULL,
  CONSTRAINT "LOCATIONS_pkey" PRIMARY KEY(dlocation)
);
''')

In [16]:
# Create the "PROJECT" table with constraints
cur.execute('''
CREATE TABLE "PROJECT"(
  pnumber integer NOT NULL,
  pname text,
  plocation text,
  dnum integer NOT NULL,
  CONSTRAINT "PROJECT_pkey" PRIMARY KEY(pnumber),
  FOREIGN KEY (dnum) REFERENCES "DEPARTEMENT" (dnumber)
);
''')

In [17]:
# Commit the changes
conn.commit()
print("commit done")

commit done

In [18]:
# Insert data into the tables (as shown in the previous response)
cur.execute('''
INSERT INTO "DEPARTEMENT" (dnumber, dname, mgrssn)
VALUES (1, 101, 123456789),
       (2, 102, 987654321);
''')

cur.execute('''
INSERT INTO "DEPARTMENT_LOCATIONS" (dnumber, "LOCATIONS_dlocation")
VALUES (1, 1),
       (2, 2);
''')

cur.execute('''
INSERT INTO "DEPENDENT" (dependentname, essn, sex, bdate, relationship)
VALUES ('John Doe', 123456789, 'M', '1990-01-15', 'Child'),
       ('Jane Doe', 987654321, 'F', '1992-05-20', 'Spouse');
''')

cur.execute('''
INSERT INTO "EMPLOYEE" (ssn, "superssn (FK)", fname, minit, lname, address, bdate, salary, sex, dno)
VALUES (123456789, NULL, 'Alice',  'M', 'Smith', '123 Main St', '1980-03-10', 50000.00, 'F', 1),
       (987654321, 123456789, 'Bob',  'A', 'Johnson', '456 Oak St', '1975-12-05', 60000.00, 'M', 2);
''')

cur.execute('''
INSERT INTO "EMPLOYEE_PROJECT" (ssn, "PROJECT_pnumber", hours)
VALUES (123456789, 101, 40),
       (987654321, 102, 35);
''')

cur.execute('''
INSERT INTO "LOCATIONS" (dlocation)
VALUES (1),
       (2);
''')

cur.execute('''
INSERT INTO "PROJECT" (pnumber, pname, plocation, dnum)
VALUES (101, 'Project A', 'Location X', 1),
       (102, 'Project B', 'Location Y', 2);
''')

In [19]:
# Commit the changes
conn.commit()
print("commit done")

commit done

In [20]:
print("Contents of the 'DEPARTEMENT' table:")
cur.execute("SELECT * FROM 'DEPARTEMENT'")
print(cur.fetchall())

print("\nContents of the 'DEPARTMENT_LOCATIONS' table:")
cur.execute("SELECT * FROM 'DEPARTMENT_LOCATIONS'")
print(cur.fetchall())

print("\nContents of the 'DEPENDENT' table:")
cur.execute("SELECT * FROM 'DEPENDENT'")
print(cur.fetchall())

print("\nContents of the 'EMPLOYEE' table:")
cur.execute("SELECT * FROM 'EMPLOYEE'")
print(cur.fetchall())

print("\nContents of the 'EMPLOYEE_PROJECT' table:")
cur.execute("SELECT * FROM 'EMPLOYEE_PROJECT'")
print(cur.fetchall())

print("\nContents of the 'LOCATIONS' table:")
cur.execute("SELECT * FROM 'LOCATIONS'")
print(cur.fetchall())

print("\nContents of the 'PROJECT' table:")
cur.execute("SELECT * FROM 'PROJECT'")
print(cur.fetchall())

# Close the cursor and connection
cur.close()
conn.close()

Contents of the 'DEPARTEMENT' table:
[(1, 101, 123456789), (2, 102, 987654321)]

Contents of the 'DEPARTMENT_LOCATIONS' table:
[(1, 1), (2, 2)]

Contents of the 'DEPENDENT' table:
[('John Doe', 123456789, 'M', '1990-01-15', 'Child'), ('Jane Doe', 987654321, 'F', '1992-05-20', 'Spouse')]

Contents of the 'EMPLOYEE' table:
[(123456789, None, 'Alice', 'M', 'Smith', '123 Main St', '1980-03-10', 50000.0, 'F', 1), (987654321, 123456789, 'Bob', 'A', 'Johnson', '456 Oak St', '1975-12-05', 60000.0, 'M', 2)]

Contents of the 'EMPLOYEE_PROJECT' table:
[(123456789, 101, 40), (987654321, 102, 35)]

Contents of the 'LOCATIONS' table:
[(1,), (2,)]

Contents of the 'PROJECT' table:
[(101, 'Project A', 'Location X', 1), (102, 'Project B', 'Location Y', 2)]